<div class="sc_main_middle" ng-controller="com_ctrl">
  <input type="hidden" id="codeid" value="{$code.bannercodeid}">
    <h3>红纽扣集团<span> </span></h3>
    <div class="sc_main_midtop">
     	<ul>
     		<li class="regisAll buleCo">首页</li>
     	</ul>
    </div>
    <!-- 首页 -->
    <div class="sc_main_tabtop" id="scMainTab1">
        <div class="mastManage fl">
            <h3>系统信息</h3>
            <ul>
                <li class="row">
                <div class="col-xs-3">
                    版本号：
                </div>
                <div class="col-xs-6">
                   1.0
                </div>
                <span class="ml91"></span></li> 
                <li>运行环境：<span class="ml91">linux+nginx</span></li>
                <li>服务器操作系统：<span class="ml44">linux</span></li>
                <li>thinkphp版本：<span class="ml57">5.0.0</span></li>
                <li>php版本：<span class="ml6">是</span></li>
                <li>MYSQL版本：<span class="ml62">5.5.40</span></li>
                <li>上传限制：<span class="ml62">5.5.40</span></li>
            </ul>
        </div>
        <div class="mastManage fl">
            <h3>平台信息</h3>
            <ul>
                <li>网站标题：<span class="ml92">红纽扣集团</span></li>
                <li>运营团队：<span class="ml20"></span></li>
                <li>官方网址：<span class="ml20"></span></li>
                <li>公司地址：<span class="ml81">www.hnk123.cn</span></li>
                <li>客服QQ：<span class="ml81">www.hnk123.cn</span></li>
                <li>官方QQ群：<span class="ml81">www.hnk123.cn</span></li>
                <li>联系我们：<span class="ml78">热线： </span></li>
            </ul>
        </div>  			              	
    </div>     	 
</div>